.entries {
    #dashboard {
        &.card {
            height: calc(100vh - 15rem);
            padding: 0;
        }

        .row {
                height: 100%;
            }

            .entries-card {
            display: flex;
            overflow-y: hidden;
            height: 100% !important;

            &__sidebar {
                width: 100%;
                max-width: 25%;
                height: 100%;
                overflow-y: scroll;
                padding-top: 1.5rem;
                background-color: $gray-100;
                border-right: 1px solid $gray-400;
                border-radius: 1rem 0 0 1rem
            }


            .nav-link {
                color: black;
                font-weight: 700;
                border: 1px solid transparent;
                border-radius: 1rem 0 0 1rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                transition: all 0.5 ease;

                &:hover {
                    background-color: white;
                    border: 1px solid $gray-300;
                    box-shadow: $box-shadow-sm;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }
            }

            &__main {
                padding: 1.5rem;
                flex-grow: 1
            }
        }
    }
}

.entry-favicon {
    border-radius: 0.375rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}